.question-block {
  text-align: center;
  border: 1px solid gray;
  border-style: dotted;
}

.form-group {
  label {
    font-size: 18px;
    margin-right: 4%;
    margin-top: 1% !important;
  }
}

.btn-success {
  font-size: 25px;
  margin-bottom: 2%;
}
